@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", "sans-serif";
    }

    body {
        background-color: #fdfeff;
    }

    /* src/styles/themes.css */
    :root {
        --background-color: #ffffff;

        --foreground-pri-color: #f3f4f6;
        --foreground-sec-color: #e5e7eb;

        --text-pri-color: rgba(0, 0, 0, 0.87);
        --text-sec-color: rgba(0, 0, 0, 0.6);

        --divider-color: rgba(0, 0, 0, 0.12);

        --icon-pri-color: rgba(0, 0, 0, 0.54);
        --icon-sec-color: rgba(0, 0, 0, 0.38);

        
    }

    .dark-theme {
        --background-color: #121212;

        --foreground-pri-color: #374151;
        --foreground-sec-color: #4b5563;
        
        --text-pri-color: #fff;
        --text-sec-color: rgba(255, 255, 255, 0.7);

        --divider-color: rgba(255, 255, 255, 0.12);

        --icon-pri-color: rgba(255, 255, 255, 0.54);
        --icon-sec-color: rgba(255, 255, 255, 0.38);
    }
}

@layer components {
}
